:root {
  --diff-background: #c7254e;
  --remove-background: rgba(244, 63, 94, .4);
  --remove-color: #f20c00;
  --add-background: rgba(16, 185, 129, .4);
  --add-color: #3dd68c;
  --highlighted-background: rgba(101, 117, 133, .5);
  --error-background: rgba(244, 63, 94, .4);
  --warning-background: #daac61;
  --highlighted-word-background: #202127;
  --highlighted-word-border: #3eede7;
}
body {
  --uno: antialiased;
  color: theme("colors.foreground");
  background-color: theme("colors.background");
  font-family: theme("fontFamily.sans");
  line-height: normal;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 7px 7px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a,
article.heti a,
article.heti a code {
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  /* border-bottom: solid 2px; */
  /* border-color: theme("colors.foreground"); */
  padding: 2px;

  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:hover,
article.heti a:hover,
article.heti a code:hover {
  text-decoration-line: none;
}


a:hover {
  color: theme("colors.background");
  background-color: theme("colors.foreground");
  /* border-bottom: solid transparent 2px; */
  /* text-decoration: none; */
}

a.normal {
  /* border: none; */
  transition: none;
  text-decoration: none;
}

a.normal:hover {
  color: inherit;
  background-color: transparent;
}

article.heti a:hover {
  padding-block-end: 0px;
  border-block-end: 1px solid rgba(0, 0, 0, 0);
}

article.heti a:has(code) {
  transition: none;
  text-decoration: none;
}

article.heti a:has(code):hover {
  color: inherit;
  background-color: transparent;
}

article.heti code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

article.heti a code:hover {
  /* color: theme("colors.background"); */
  /* background-color: theme("colors.foreground"); */
  /* border-bottom: solid transparent 2px; */
  color: #f9f2f4;
  background-color: #c7254e;
}
  .astro-code,
  .astro-code span{
    font-style: var(--shiki-fontStyle)!important;
    font-weight: 300!important;
    font-family: "JetBrains Mono"!important;
    text-decoration: var(--shiki-text-decoration)!important;
  }
  .heti p img{
    @apply rounded-xl;
  }
  
@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
}

.heti p{
  @apply mt-5! mb-0!;
}
.heti code .diff {
  display: inline-block;
  background-color: var(--diff-background);
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 40px);
}

.heti code .diff.remove {
  background-color: var(--remove-background);
  opacity: 0.8;
}

.heti code .diff.add {
  background-color: var(--add-background);
  opacity: 0.8;
}

.heti code .diff:before,
.heti code .diff.remove:before,
.heti code .diff.add:before {
  position: absolute;
  left: 10px;
}

.heti code .diff.remove:before {
  content: "–";
  color: var(--remove-color);
}

.heti code .diff.add:before {
  content: "+";
  color: var(--add-color);
}

.heti code .highlighted {
  background-color: var(--highlighted-background);
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 40px);
  display: inline-block;
}

.heti code .highlighted.error {
  background-color: var(--error-background);
  opacity: 0.8;
}

.heti code .highlighted.warning {
  background-color: var(--warning-background);
  opacity: 0.8;
}

.heti code .highlighted-word {
  background-color: var(--highlighted-word-background);
  border: 1px solid var(--highlighted-word-border);
  padding: 1px 3px;
  margin: -1px 0;
  border-radius: 4px;
}

.heti .has-focused .line:not(.focused) {
  filter: blur(.095rem);
  opacity: .7;
  transition: filter .35s, opacity .35s;
}

.heti .has-focused code:hover .line:not(.focused) {
  filter: blur(0);
  opacity: 1;
}